<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.koin.sample.sandbox">

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:name="org.koin.sample.sandbox.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="org.koin.sample.sandbox.main.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.koin.sample.sandbox.mvp.MVPActivity" />
        <activity android:name="org.koin.sample.sandbox.mvvm.MVVMActivity" />
        <activity android:name="org.koin.sample.sandbox.scope.ScopedActivityA" />
        <activity android:name="org.koin.sample.sandbox.scope.ScopedActivityB" />
        <activity android:name="org.koin.sample.sandbox.sdk.HostActivity" />
        <activity android:name="org.koin.sample.sandbox.workmanager.WorkManagerActivity" />

        <activity android:name="org.koin.sample.sandbox.components.sdk.SDKActivity" />
        <activity android:name="org.koin.sample.sandbox.navigation.NavActivity" />

        <provider
                android:name="androidx.startup.InitializationProvider"
                android:authorities="${applicationId}.androidx-startup"
                android:exported="false"
                tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                    android:name="androidx.work.WorkManagerInitializer"
                    android:value="androidx.startup"
                    tools:node="remove" />
        </provider>

    </application>

</manifest>