<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.koin.androidx.startup" xmlns:tools="http://schemas.android.com/tools">
    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- This entry makes ExampleLoggerInitializer discoverable. -->
            <meta-data  android:name="org.koin.androix.startup.KoinInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>
