<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.koin.sample.android">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mvp.MVPActivity" />
        <activity android:name=".mvvm.MVVMActivity" />
        <activity android:name=".scope.ScopedActivityA" />
        <activity android:name=".scope.ScopedActivityB" />
        <activity android:name=".sdk.HostActivity" />

        <activity android:name=".components.sdk.SDKActivity" />
        <activity android:name=".dynamic.DynamicActivity" />

    </application>

</manifest>