name: Koin Macos Test
on: [push]
jobs:
  Build-and-Test:
    runs-on: macOS-11
    steps:
      - run: echo "- KOIN - Build & Test -"

      - name: Check out repository code
        uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          distribution: "adopt"
          java-version: "11"
      
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Cache build tooling
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.konan
          key: ${{ runner.os }}-v1-${{ hashFiles('*.gradle.kts') }}
      - name: Build Main
        run: cd core && ../gradlew macosX64Test iosX64Test --no-daemon --stacktrace
