name: Mark stale issues and pull requests
on:
  schedule:
    - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v4
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          days-before-stale: 90
          stale-issue-message: 'This issue is stale because it has been open 90 days with no activity. Please comment or this will be closed in 7 days.'
          stale-pr-message: 'This PR is stale because it has been open 90 days with no activity. Please comment or this will be closed in 7 days.'
          close-issue-message: 'This issue was closed because it has been stalled for 7 days with no activity.'
          close-pr-message: 'This PR was closed because it has been stalled for 7 days with no activity.'
          stale-issue-label: stale
          stale-pr-label: stale
          exempt-issue-labels: help wanted, good first issue, never gets stale, blocked
          exempt-pr-labels: help wanted, good first issue, never gets stale, blocked
          exempt-milestones: Future Breaking Changes in Major Versions