name: Test Examples

on:
  pull_request:

concurrency:
  group: test-examples-${{ github.ref }}
  cancel-in-progress: true

jobs:

  run-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up environment for Android build
        uses: ./.github/actions/prepare-env

      - name: Install
        run: cd projects && ./install.sh

      - name: Test Examples
        run: cd examples && ./test.sh

