name: Weekly Benchmark

on:
  schedule:
    - cron:  '0 0 * * 0'    # sunday weekly

jobs:

  jvm-benchmark:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11
    
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Install
        run: cd projects && ./install.sh

      - name: Test Examples
        run: cd examples/jvm-perfs && ./benchmark.sh


